/*
 * 图标字体
 * 地址来自阿里图标：http://iconfont.cn/
 */
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1466236648_357662.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1466236648_357662.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1466236648_357662.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1466236648_357662.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1466236648_357662.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon,
.icon:before{
  display: inline-block;
  line-height: 1;
}
.icon:before{
  font-family: "iconfont";
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$iconfont: (
  search: 601,
  user: 603,
  news: 60d,
  stock: 614,
  set: 605,
  data: 607,
  notification: 609,
  school: 60a,
  home: 60c,
  workbench: 60b,
  edit: 612,
  crown: 617,
  message: 619,
  menu: 618,
  help: 61c,
  save: 631,
  filter: 639,
  service: 600,
  totop: 615,
  wechat: 608,
  feedback: 602,
  phone-download: 606,
  arrow-right: 604,
  arrow-left: 649,
  arrow-down: 64a,
  arrow-up: 648,
  fire: 613,
  eye: 611,
  paper: 60e,
  eye-dark: 61b,
  phone: 616,
  sms: 61a,
  shield: 610,
  password: 60f,
  chevron-up: 61f,
  chevron-down: 620,
  chevron-left: 61d,
  chevron-right: 621,
  question: 61e,
  date: 622,
  fire-dark: 624,
  plus: 623,
  check: 625,
  close-dark: 629,
  account: 626,
  gold-heap: 628,
  set-dark: 627,
  task: 62a,
  dustbin: 636,
  triangle-left: 62e,
  triangle-top: 62f,
  triangle-right: 62d,
  triangle-bottom: 62c,
  wechat-dark: 630,
  sina: 632,
  new-window: 633,
  warn: 634,
  empty-box: 635,
  star: 63c,
  star-half: 63a,
  star-empty: 637,
  add: 62b,
  comment: 641,
  pie: 63d,
  feature-server: 63b,
  new-economy: 63f,
  gift: 63e,
  commodity: 640,
  tag: 642,
  desc: 644,
  asc: 643,
  movedown: 645,
  moveup: 64b,
  pen: 646,
  relate: 647,
  drag-verticle: 64d,
  drag-horizontal: 64c,
);
@each $key, $val in $iconfont {
  .icon-#{ $key }:before{
    content: '"'+\e+ '#{$val}' +'"';
  }
}
