@charset "utf-8";

//引入配置及其他
@import "compass";
@import "normalize";
@import "animation";
@import "iconfont";

/*
 * 分辨率字体大小
 */
//0-1366
html,body{
    width: 100%;
    height: 100%;
    background-color: $root-bgcolor;
    font: 10px/1.5 $font-family;
    color: $root-text-color;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
$root-font: (
    1025: 11,   //1025 - 1280
    1281: 12,   //1281 - 1366
    1367: 13,   //1367 - 1440
    1441: 14,   //1441 - 1600
    1601: 16    //1601 -
);
@each $key, $val in $root-font {
    @media all and (min-width: #{ $key }px) {
        html,body{
            font-size: #{ $val }px;
        }
    }
}

/*
 * 标签字体大小
 */
$tagH: ( h1: 36, h2: 30, h3: 24, h4: 18, h5: 14, h6: 12 );
@each $key, $val in $tagH {
    #{ $key }{
        font-size: rem( $val );
        margin: 0;
    }
}

/*
 * 类字体大小
 */
$classFont: (
    tiny-text: 12,      mini-text: 13,      normal-text: 14,
    big-text: 16,       bigger-text: 18,    large-text: 22,
    huge-text: 26,      max-text: 32
);
@each $key, $val in $classFont {
    .#{ $key }{
        font-size: rem( $val );
    }
}

/*  
 * 文本颜色类
 */
$color: (
    white-text: $white-text,        lightgray-text: $lightgray-text,
    gray-text: $gray-text,          black-text: $black-text,
    red-text: $red-text,            green-text: $green-text,
    blue-text: $blue-text
);
@each $key, $val in $color {
    .#{ $key }{
        color: $val !important;
    }
}

/*  
 * 背景颜色类
 */
$bgcolor: (
    lightgray-bgcolor: $lightgray-bgcolor,      gray-bgcolor: $gray-bgcolor,
    black-bgcolor: $black-bgcolor,              red-bgcolor: $red-bgcolor,
    green-bgcolor: $green-bgcolor,              blue-bgcolor: $blue-bgcolor,
    white-bgcolor: $white-bgcolor,
);
@each $key, $val in $bgcolor {
    .#{ $key }{
        background-color: $val !important;
    }
}

/*
 * 排版公共类
 */
//定位
.pr{
    position: relative;
}
.pa{
    position: absolute;
    left: 0;
    top: 0;
}
.cf:after{
    content: "";
    display: block;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
//文本
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-center-vertical{
    position: relative;
    top: 50%;
    transform: translateY( -50% );
}
.text-right{
    text-align: right;
}
.text-indent{
    text-indent: 2em;
}
.text-justify{
    text-align: justify;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.word-break-all{
    word-break: break-all;
}
.bold{
    font-weight: bold;
}
.list-unstyled{
    padding-left: 0;
    list-style: none;
}
.overflow-hidden{
    overflow: hidden !important;
}
.show {
    display: block !important;
}
.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}
//表格
table {
  border-spacing: 0;
  border-collapse: collapse;
}
caption {
  padding: rem( 8 ) 0;
  color: $gray-text;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: rem( 8 );
  vertical-align: top;
  border-top: 1px solid $lightgray-text;
}
.table>thead>tr>th {
  vertical-align: bottom;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: $table-striped-bgcolor;
}
.table-bordered{
  border: 1px solid $table-border-color;
}
.table-bordered-inner{
  >tbody>tr>td,
  >tbody>tr>th,
  >tfoot>tr>td,
  >tfoot>tr>th,
  >thead>tr>td,
  >thead>tr>th{
    border: 1px solid $table-border-color;
  }
}
.table-hover>tbody>tr:hover {
  background-color: $table-hover-bgcolor;
}
.table-ycj{
  >thead>tr>td,
  >thead>tr>th{
    padding: 0 rem(2) 0 0;
    &:last-child{
      padding-right: 0;
    }
    >.table-flag{
      display: block;
      height: rem(36);
      line-height: rem(36);
      padding: 0 rem(10);
      background-color: $paper-header-bgcolor;
      color: $paper-header-color;
      font-weight: 400;
    }
  }
  >tbody>tr>td,
  >tbody>tr>th,
  >tfoot>tr>td,
  >tfoot>tr>th,
  >thead>tr>td,
  >thead>tr>th{
    border: none;
    vertical-align: middle;
    a{
      text-decoration: none;
      color: inherit;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  >tbody{
    >tr{
      background-color: $white-bgcolor;
      border-bottom: 1px solid $paper-border-color;
      >td,
      >th{
        height: rem(48);
        padding: 0 rem(12) 0 rem(10);
        &:last-child{
          padding-right: rem(10);
        }
      }
    }
  }
}

//表单
.form-group{
  margin-bottom: rem( 16 );
}
.form-control {
  display: block;
  width: 100%;
  padding: rem( 6 ) rem( 12 );
  font-size: rem( 14 );
  color: $form-text-color;
  background-color: $white-text;
  border: 1px solid $lightgray-text;
  //box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s;
  &.input{
    height: rem( 34 );
  }
  &:focus{
    border-color: $input-border-highlight;
    //box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }
  &[disabled]{
    background-color: $lightgray-bgcolor;
  }
}
.label-radio,
.label-checkbox{
  margin-left: rem( 10 );
  padding-left: 1.4em;
  position: relative;
  &:first-of-type{
    margin-left: 0;
  }
  input{
    transform: translate( 0, -50% );
    position: absolute;
    left: 0;
    top: 0.7em;
    cursor: pointer;
  }
}
//美化checkbox，radio
.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
    display: none;
    & + label {
        display: inline-block;
        height: 1em;
        padding-left: 1.4em;
        line-height: 1em;
        position: relative;
        &:not(:first-of-type) {
            margin-left: rem(10);
        }
        &:hover:before{
            border-color: $primary;
        }
        &:before,
        &:after{
            content: '';
            width: 1em;
            height: 1em;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY( -50% );
            transition: .3s ease-in-out;
        }
        &:before{
          border: .0834em solid $gray-bgcolor;
        }
    }
}
.checkbox-group{
    input[type="checkbox"]{
      &+label{
        &.disabled,
        &[disabled]{
          &:before{
            border-width: .5em !important;
            border-color: $checkbox-disabled-color !important;
          }
          &:after{
            border-color: $white-bgcolor;
          }
        }
        &:after{
          width: .6667em;
          height: .4167em;
          border: .1667em solid transparent;
          border-top: none;
          border-right: none;
          left: .1668em;
          top: .19em;
          transform: rotate(-45deg) translateY(0);
        }
      }
      &:checked+label{
        &:before{
          border-width: .5em;
          border-color: $primary;
        }
        &:after{
          border-color: $white-bgcolor;
        }
      }
    }
}
.radio-group{
  input[type="radio"]{
    &+label{
      &.disabled,
      &[disabled]{
        &:before{
          border-color: $checkbox-disabled-color !important;
        }
        &:after{
          background-color: $checkbox-disabled-color;
        }
      }
      &:after,
      &:before{
        border-radius: 50%;
      }
      &:after{
        width: .5em;
        height: .5em;
        left: .25em;
      }
    }
    &:checked+label{
      &:before{
        border-color: $primary;
      }
      &:after{
        background-color: $primary;
      }
    }
  }
}
//checkbox参考：http://www.html5tricks.com/demo/css3-checkbox-group/index.html
//http://www.htmleaf.com/Demo/20141122561.html
$shitch-radius: rem(20);
.switch-text,
.switch{
  display: inline-block;
  input[type="checkbox"]{
    display: none;
    &+label{
      display: inline-block;
      width: 3.834em;
      height: 1.667em;
      line-height: 1.5em;
      border: .0834em solid $gray-bgcolor;
      background-color: $gray-bgcolor;
      position: relative;
      border-radius: $shitch-radius;
      transition: .3s ease-in-out;
      &:after{
        content: '';
        width: 50%;
        height: 100%;
        background-color: $white-bgcolor;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $shitch-radius;
        transition: left .3s ease-in-out;
      }
    }
    &:checked+label{
      background-color: $white-bgcolor;
      border-color: $primary;
      box-shadow: inset 0 0 0 .917em $primary;
      &:after{
        left: 50%;
      }
    }
  }
}
.switch-text{
  input[type="checkbox"]{
    &+label{
      &:before{
        content: '关';
        width: 50%;
        height: 100%;
        text-align: center;
        color: $white-text;
        position: absolute;
        top: 0;
        left: 50%;
        transition: left .3s ease-in-out;
      }
    }
    &:checked+label{
      &:before{
        content: "开";
        left: 0;
      }
    }
  }
}

//按钮
.btn{
  display: inline-block;
  padding: $btn-padding-vertical $btn-padding-level;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $btn-radius;
  transition: background-color .3s ease-out,border-color .3s ease-out;
}
$btn-type:  (primary, $primary, $primary-hover, $primary-active),
            (secondary, $secondary, $secondary-hover, $secondary-active),
            (success, $success, $success-hover, $success-active),
            (warning, $warning, $warning-hover, $warning-active),
            (danger, $danger, $danger-hover, $danger-active);
@each $key, $color, $hover, $active in $btn-type {
  .btn-#{$key} {
    color: $white-text;
    border-color: $color;
    background-color: $color;
    &:hover{
      border-color: $hover;
      background-color: $hover;
    }
    &.active,
    &:focus,
    &:active{
      border-color: $active !important;
      background-color: $active;
      box-shadow: inset 0 rem(3) rem(5) rgba(0,0,0,.1);
    }
  }
}
.btn-default{
  border-color: $default-border-color;
  background-color: $white-bgcolor;
  &:hover{
    background-color: $default-hover;
  }
  &.active,
  &:focus,
  &:active{
    border-color: #999;
    background-color: $default-active;
    box-shadow: inset 0 rem(2) rem(4) rgba(0,0,0,.1);
  }
}
.btn-sm{
  padding: $btn-sm-padding-vertical $btn-sm-padding-level;
}
.btn-lg{
  padding: $btn-lg-padding-vertical $btn-lg-padding-level;
}
.btn-block{
  display: block;
  width: 100%;
}
.btn-group,
.btn-group-vertical{
  .btn{
    position: relative;
    &.active,
    &:focus,
    &:active{
      z-index:2;
    }
  }
}
.btn-group{
  display: inline-block;
  &:after{
    content: "";
    display: block;
    clear: both;
  }
  .btn+.btn,
  .btn+.btn-group,
  .btn-group+.btn,
  .btn-group+.btn-group{
    margin-left: -1px;
  }
  >.btn{
    float: left;
    &:not(:first-child):not(:last-child){
      border-radius: 0;
    }
    &:first-child:not(:last-child):not([data-toggle="dropdown"]){
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child:not(:first-child){
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  >.btn-group{
    float: left;
    &:not(:first-child):not(:last-child){
      >.btn:first-child{
        border-radius: 0;
      }
    }
    &:first-child:not(:last-child){
      >.btn:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:last-child:not(:first-child){
      >.btn:first-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
.btn-group-vertical{
  display: inline-block;
  .btn+.btn,
  .btn+.btn-group,
  .btn-group+.btn,
  .btn-group+.btn-group{
    margin-top: -1px;
  }
  .btn,
  .btn-group{
    display: block;
    width: 100%;
  }
  >.btn{
    &:not(:first-child):not(:last-child){
      border-radius: 0;
    }
    &:first-child:not(:last-child):not([data-toggle="dropdown"]){
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child:not(:first-child){
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  >.btn-group{
    .btn{
      float: none;
    }
    &:not(:first-child):not(:last-child){
      >.btn:first-child{
        border-radius: 0;
      }
    }
    &:first-child:not(:last-child){
      >.btn:first-child{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:last-child:not(:first-child){
      >.btn:first-child{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
$btn-border-color:(
    primary: $primary-border-color,
    secondary: $secondary-border-color,
    success: $success-border-color,
    danger: $danger-border-color
);
@each $key, $border-color in $btn-border-color {
    .btn-group-vertical,
    .btn-group{
        .btn-#{$key} {
            border-color: $border-color;
        }
    }
}
//进度条
.progress{
  overflow: hidden;
  background-color: $progress-bgcolor;
  text-align: center;
  box-shadow: inset 0 rem(1) rem(2) rgba(0,0,0,.1);
  &.progress-ycj{
    background-color: transparent;
    box-shadow: none;
    .progress-bar{
      min-width: rem(120);
      padding: 0 rem(8);
      border: 1px solid #df3a45;
      background-color: #ff505c;
      border-radius: rem(20);
      box-shadow: none;
    }
  }
  .progress-bar{
      float: left;
      width: 0;
      max-width: 100%;
      padding: rem(7) rem(10);
      color: $white-text;
      background-color: $progress-bar-bgcolor;
      box-shadow: inset 0 rem(-1) 0 rgba(0,0,0,.15);
      transition: width .6s ease;
  }
}
.progress-sm{
  .progress-bar{
    padding: rem(3) rem(8);
  }
}
.progress-xs{
  .progress-bar{
    padding: 0 rem(4);
  }
}
.progress-radius{
  border-radius: $progress-radius;
}
//徽章
.badge{
  display: inline-block;
  padding: rem(3) rem(5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: $white-text;
  background-color: $badge-bgcolor;
  border-radius: $badge-raduis;
}

//股票
.stock-list{
  &:after{
    @extend .cf:after;
  }
  >a{
    float: left;
    width: rem(190);
    height: rem(32);
    padding: rem(6) rem(12);
    margin-right: rem(12);
    margin-bottom: rem(12);
    border: 1px solid transparent;
    transition: .4s cubic-bezier(.175,.885,.32,1);
    &:hover{
      color: $white-text !important;
    }
    &,
    &.stock-gray{
      border-color: $stock-gray;
      color: $stock-gray;
      &:hover{
        background-color: $stock-gray;
      }
    }
    &.stock-red{
      border-color: $stock-red;
      color: $stock-red;
      &:hover{
        background-color: $stock-red;
      }
    }
    &.stock-green{
      border-color: $stock-green;
      color: $stock-green;
      &:hover{
        background-color: $stock-green;
      }
    }
  }
}

//步进
.step-group{
  $step-bgcolor: #ccc;
  $step-bgcolor-active: $primary;
  &:after{
    @extend .cf:after;
  }
  >.step{
    float: left;
    width: rem(170);
    height: rem(30);
    line-height: rem(30);
    background-color: $step-bgcolor;
    text-align: center;
    color: $white-text;
    position: relative;
    &:before,
    &:after{
      position: absolute;
      top: 0;
      border-top: rem(15) solid transparent;
      border-bottom: rem(15) solid transparent;
    }
    &.left{
      &:before{
        content: '';
        right: 100%;
        border-left: rem(10) solid transparent;
        border-top-color: $step-bgcolor;
        border-bottom-color: $step-bgcolor;
      }
    }
    &.right{
      margin-right: rem(20);
      &:after{
        content: '';
        left: 100%;
        border-left: rem(10) solid $step-bgcolor;
      }
    }
    &.active{
      background-color: $step-bgcolor-active;
      &.left{
        &:before{
          border-top-color: $step-bgcolor-active;
          border-bottom-color: $step-bgcolor-active;
        }
      }
      &.right{
        &:after{
          border-left-color: $step-bgcolor-active;
        }
      }
    }
  }
}

//radio-select
.radio-select-group{
  &:after{
    @extend .cf:after;
  }
  input[type="radio"]{
    display: none;
    &+label{
      float: left;
      margin-right: rem(10);
      margin-bottom: rem(16);
      padding: rem(10) rem(20) rem(10) rem(38);
      border: 1px solid $paper-border-color;
      position: relative;
      &.disabled,
      &[disabled]{
        &:after{

        }
      }
      &:after{
        content: "";
        width: rem(12);
        height: rem(12);
        border: 1px solid $paper-border-color;
        border-radius: 50%;
        position: absolute;
        left: rem(18);
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:checked+label{
      border-color: $success;
      &:after{
        border-color: $success;
        background-color: $success;
      }
    }
  }
}

//面包屑导航
.breadcrumb{
  margin-bottom: 0;
  line-height: rem(36);
  background-color: #F3F3F3;
  font-size: rem(13);
  border-radius: $radius;
  @extend .list-unstyled;
  &:after{
    @extend .cf:after;
  }
  li{
    float: left;
    &.breadcrumb-divider{
      .icon{
        transform: translateY(rem(-1));
      }
    }
    &:not(.breadcrumb-divider){
      padding: 0 .6em;
    }
    a{
      display: block;
      color: $root-text-color;
      text-decoration: none;
      &:hover{
        color: $primary;
      }
    }
  }
}

//边框标题
.border-title{
  padding-left: rem(12);
  line-height: 1;
  border-left: rem(6) solid $primary;
}

//share
.share{
  display: inline-block;
  .icon{
    width: rem(22);
    height: rem(22);
    font-size: rem(19);
    border-radius: rem(4);
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: transform .4s;
    &:hover{
      transform: scale( 1.1 );
    }
  }
  .icon-wechat-dark{
    background-color: #85c119;
  }
  .icon-sina{
    background-color: #e30404;
  }
  [class^="share-"]{
    display: inline-block;
    margin-right: rem(5);
    &:last-child{
      margin-right: 0;
    }
  }
  .share-wechat-code{
    display: none;
    border: 1px solid $paper-border-color;
    background-color: $white-bgcolor;
    position: absolute;
    right: 0;
    bottom: 130%;
    box-shadow: rem(2) rem(2) rem(16) 0 #ccc;
    .share-wechat-wrap{
      width: rem(500);
      height: rem(310);
      >.fl{
        &:first-child{
          margin: rem(76) 0 0 rem(30);
          text-align: center;
          h5{
            margin-bottom: rem(16);
            text-align: center;
            font-weight: 400;
          }
          img{
            width: rem(124);
            border: 1px solid $paper-border-color;
            box-shadow: 0 0 rem(6) 0 #ccc;
          }
        }
      }
    }
  }
  .share-wechat-phone{
    width: rem(212);
    height: rem(260);
    margin-top: rem(26);
    margin-left: rem(44);
    background: url("../img/phone-bg.png") 0 0 no-repeat;
    background-size: 100% 100%;
  }
}

//星星
.star-group{
  display: inline-block;
  color: $red-text;
  &:after{
    @extend .cf:after;
  }
  >.icon{
    float: left;
  }
}

//js组件
//模拟placeholder，兼容ie9
.placeholder-input{
  display: inline-block;
  width: rem(266);
  height: rem(44);
  padding: 0 1rem;
  position: relative;
  font-size: rem(14);
  .placeholder-text{
    color: $lightgray-text;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    &::selection{
      background-color: transparent;
    }
  }
  input{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    border: 1px solid $input-border-default;
    background-color: rgba(255,255,255,.0001);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
}
//表单input组
$input-group-height: rem(44);
$input-group-space-size: rem(46);
.form-input-group{
  height: $input-group-height;
  position: relative;
  &.form-password{
    .placeholder-input{
      &,
      input{
        padding-right: $input-group-space-size;
      }
    }
    .eye{
      @extend .glyphic;
      left: auto;
      right: 0;
      color: #b7b7b7 !important;
      cursor: pointer;
      &.open{
        color: $primary !important;
      }
    }
  }
  &.active{
    .glyphic{
      color: $primary;
    }
    input{
      border-color: $primary;
    }
  }
  .glyphic{
    width: $input-group-height;
    height: 100%;
    line-height: $input-group-height;
    text-align: center;
    font-size: rem(18);
    color: #777;
    @extend .pa;
    z-index: 4;
  }
  .placeholder-input{
    width: 100%;
    height: 100%;
    z-index: 3;
    &,
    input{
      padding-left: $input-group-space-size;
      padding-right: .8rem;
    }
  }
}
.form-error{
  .glyphic{
    color: $red-bgcolor !important;
  }
  input{
    border-color: $red-bgcolor !important;
  }
  &+.hint{
    margin-top: rem(4);
  }
}
//滑块
.form-slidelock{
  >*{
    height: 100%;
    border-radius: $input-radius;
    &:not(.form-slidelock-bg){
      position: absolute;
      top: 0;
      &:not(.form-slidelock-anim){
        width: $input-group-height;
        height: 100%;
        left: 0;
      }
    }
  }
  .form-slidelock-bar,
  .form-slidelock-lock,
  .form-slidelock-bg{
    border: 1px solid $input-border-default;
  }
  .form-slidelock-bg{
    padding-left: $input-group-space-size;
    line-height: $input-group-height;
    font-size: rem(14);
    color: $input-border-default;
    &::selection{
      background-color: transparent;
    }
  }
  .form-slidelock-bar{
    border-color: #76cc5f;
    background-color: rgba(118,204,95,0.3);
    &.out{
      transition: width .6s ease-in-out;
      width: rem(10);
    }
  }
  .form-slidelock-lock{
    background-color: #ededed;
    border-color: #a0a0a0;
    cursor: move;
    &.out{
      transition: left .6s ease-in-out;
      left: 0;
    }
    .icon{
      transform: rotate(90deg) translate(rem(-1),rem(-1));
    }
  }
  .form-slidelock-success{
    border-color: $success;
    color: $success;
    .icon{
      transform: rotate(0) translate(rem(-1),rem(-1));
      &:before {
        content: '\e625';
      }
    }
  }
  .form-slidelock-anim{
    width: rem(88);
    right: rem(16);
    i{
      width: rem(8);
      height: rem(8);
      background-color: #a7adbd;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      animation: 1.2s formSlidelock infinite;
      &:nth-child(2){
        left: rem(16);
        animation-delay: .2s;
      }
      &:nth-child(3){
        left: rem(32);
        animation-delay: .4s;
      }
      &:nth-child(4){
        left: rem(48);
        animation-delay: .6s;
      }
      &:nth-child(5){
        left: rem(64);
        animation-delay: .8s;
      }
      &:nth-child(6){
        left: rem(80);
        animation-delay: 1s;
      }
    }
  }
}
//验证码
.form-code-group{
  height: $input-group-height;
  position: relative;
  .form-code{
    padding-right: rem(138);
  }
  .form-code-get{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    &,
    .btn,
    img{
      height: 100%;
    }
    img,
    .btn{
      border: 1px solid rgba(44, 80, 169, 0.3);
      border-radius: $input-radius;
    }
    .btn{
      padding-top: 0;
      padding-bottom: 0;
      line-height: $input-group-height;
      font-size: rem(14);
    }
    img{
      width: rem(128);
      cursor: pointer;
    }
  }
}
//下拉菜单
$dropdown-hover-bgcolor: #ececec;
.dropdown-submenu,
.dropdown{
  position: relative;
}
.dropdown.open{
  >.dropdown-menu{
    display: inline-block;
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  margin: rem(2) 0;
  padding: rem(5) 0;
  list-style: none;
  background-color: $white-bgcolor;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: $radius;
  box-shadow: 0 rem(6) rem(12) rgba(0,0,0,.175);
  animation: .4s zoomIn;
  &.right{
    right: 0;
    left: auto;
  }
  &.top{
    top: auto;
    bottom: 100%;
  }
  .divider{
    height: 1px;
    margin: rem(9) 0;
    background-color: rgba(0,0,0,.12);
  }
  > li > a {
    display: block;
    min-width: rem(160);
    padding: rem(3) rem(20);
    color: $root-text-color;
    text-decoration: none;
    white-space: nowrap;
    transition: .4s cubic-bezier(.175,.885,.32,1);
    position: relative;
    &:hover{
      background-color: $dropdown-hover-bgcolor;
    }
  }
}
.dropdown-submenu{
  &:hover{
    > .dropdown-menu{
      display: inline-block !important;
    }
    >a{
      //color: $white-text;
      background-color: $dropdown-hover-bgcolor;
    }
    >a:before{
      //border-left-color: $white-bgcolor;
    }
  }
  &.left{
    > .dropdown-menu{
      left: auto;
      right: 100%;
    }
  }
  &.top{
    > .dropdown-menu{
      top: auto;
      bottom: 0;
      margin-bottom: rem(-2);
    }
  }
  > .dropdown-menu{
    display: none !important;
    margin-top: rem(-2);
    top: 0;
    left: 100%;
  }
  >a:before {
    width: 0;
    height: 0;
    content: " ";
    border: rem(5) solid transparent;
    border-left-color: $gray-bgcolor;
    position: absolute;
    top: 50%;
    right: rem(4);
    transform: translateY(-50%);
  }
}
//tooltip.js
$tooltip-bgcolor: rgba(0,0,0,.85);
.tooltip {
  position: absolute;
  z-index: 1070;
  opacity: .9;
  animation: .4s zoomIn;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip-inner {
  max-width: rem(180);
  padding: rem(4) rem(6);
  color: $white-text;
  background-color: $tooltip-bgcolor;
  border-radius: rem(4);
}
.tooltip.out{
  opacity: 0;
  animation: .4s zoomOut;
}
.tooltip.left {
  padding: 0 rem(5);
  margin-left: rem(-3);
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: rem(1);
  transform: translateY(-50%);
  border-width: rem(5) 0 rem(5) rem(5);
  border-left-color: $tooltip-bgcolor;
}
.tooltip.right {
  padding: 0 rem(5);
  margin-left: rem(3);
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: rem(1);
  transform: translateY(-50%);
  border-width: rem(5) rem(5) rem(5) 0;
  border-right-color: $tooltip-bgcolor;
}
.tooltip.top {
  padding: rem(5) 0;
  margin-top: rem(-3);
}
.tooltip.top .tooltip-arrow {
  bottom: rem(1);
  left: 50%;
  transform: translateX(-50%);
  border-width: rem(5) rem(5) 0;
  border-top-color: $tooltip-bgcolor;
}
.tooltip.bottom {
  padding: rem(5) 0;
  margin-top: rem(3);
}
.tooltip.bottom .tooltip-arrow {
  top: rem(1);
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 rem(5) rem(5);
  border-bottom-color: $tooltip-bgcolor;
}
//tab.js
$table-radius-color: #63749e;
$table-radius-bgcolor: #338be6;
.tabs{
  &.anim{
    .tab-panel.active{
      animation: .6s fadeIn;
    }
  }
  &.tabs-ycj{
    .tab-nav{
      margin-bottom: rem(6);
      border-bottom: none;
      li{
        margin-right: rem(10);
        padding: rem(4) rem(10);
        border-bottom: none;
        background-color: $paper-header-bgcolor;
        top: 0;
        &:hover,
        &.active{
          background-color: $primary;
          color: $white-text;
        }
      }
    }
    .tab-content{
      background-color: $white-bgcolor;
      padding: rem(10);
    }
  }
  &.tabs-radius{
    .tab-nav{
      border-bottom: none;
      li{
        margin-right: rem(10);
        padding: rem(4) rem(30);
        border-bottom: none;
        color: $table-radius-color;
        top: 0;
        border-radius: rem(20);
        &:hover,
        &.active{
          background-color: $table-radius-bgcolor;
          color: $white-text;
        }
      }
    }
  }
  .tab-nav{
    $border-bottom-width: rem(4);
    padding-left: 0;
    border-bottom: $border-bottom-width solid $lightgray-bgcolor;
    &:after{
      content: "";
      display: block;
      clear: both;
    }
    li{
      float: left;
      list-style: none;
      margin-right: 1em;
      padding-bottom: .5em;
      border-bottom: $border-bottom-width solid transparent;
      position: relative;
      top: $border-bottom-width;
      cursor: pointer;
      transition: .4s cubic-bezier(.175,.885,.32,1);
      &.disabled{
        cursor: default !important;
        border-bottom-color: transparent !important;
      }
      &:hover,
      &.active{
        color: $primary;
        border-bottom-color: $primary;
      }
    }
  }
  .tab-content{
    width: 100%;
    overflow: hidden;
    .tab-panel{
      display: none;
      &.active{
        display: block;
      }
    }
  }
}
//menu-radius
.menu-raduis{
  text-align: center;
  >ul{
    display: inline-block;
    margin: rem(16) 0;
    >li{
      float: left;
      &.disabled,
      [disabled]{
        a{
          background-color: transparent !important;
          color: $lightgray-text !important;
          cursor: default;
        }
      }
      &:not(:last-child){
        margin-right: rem(4);
      }
      &:hover,
      &.active{
        a{
          background-color: $table-radius-bgcolor;
          color: $white-text;
        }
      }
      a{
        display: block;
        padding: rem(4) rem(30);
        color: $table-radius-color;
        text-decoration: none;
        border-radius: rem(20);
      }
    }
  }
}
//layer.js
.layer-hint{
  position: fixed;
  z-index: 9999;
  top: 14%;
  left: 50%;
  transform: translate( -50%, 0 );
  .layer-hint-inner{
    padding: 1em 2em;
    border: 1px solid $gray-bgcolor;
    background-color: $white-bgcolor;
    font-size: rem(16);
    word-break: break-all;
    border-radius: $radius;
    box-shadow: rem( 2 ) rem( 2 ) rem( 12 ) 0 $lightgray-text;
    animation: .4s slideInDown ease-out;
    &.red{
      border-color: $red-bgcolor;
      //background-color: #ffedee;
      color: $red-text;
    }
    &.green{
      border-color: $green-bgcolor;
      //background-color: #e5f8f0;
      color: $green-text;
    }
  }
}
.modal,
.layer-loading-page,
.layer{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}
.modal-bg,
.layer-bg{
  width: 100%;
  height: 100%;
  background-color: $black-bgcolor;
  opacity: .5;
  animation: .2s fadeInTranslucence;
}
.modal-dialog,
.layer-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
.modal-dialog.modal-dialog-drag,
.layer-dialog.layer-dialog-drag{
  transform: translate( 0, 0 );
  .layer-header{
    cursor: move;
    background-color: #f6f6f6;
  }
}
.modal-content,
.layer-content{
  background-color: $white-bgcolor;
  border-radius: $radius;
  animation: .4s zoomIn;
  overflow: hidden;
}

.layer-confirm-content {
  min-width: rem(350);
  max-width: 64rem;
}

$layer-header-padding-left: 1.4rem;
.layer-header{
  padding: 1rem $layer-header-padding-left;
  font-size: rem(14);
  font-weight: normal;
  >.icon-plus{
    transform: rotate(45deg) translate(rem(3), rem(-3));
    font-size: rem(16);
    color: #a7adbd;
    cursor: pointer;
  }
}
.layer-inner{
  min-height: 8rem;
  padding: 2em;
}
.layer-footer{
  padding: 0 $layer-header-padding-left $layer-header-padding-left;
  text-align: right;
  .btn{
    padding: .34em 2em;
    &:not(:first-child){
      margin-left: $layer-header-padding-left;
    }
  }
}
.layer-loading-page{
  background: rgba(255,255,255,.5) url('../img/loading.gif') center no-repeat;
  animation: .4s zoomIn;
}

.modal{
  display: none;
  &.open{
    display: block;
  }
}
//loading.js
.btn-loading{
  font-size: rem(14);
  font-weight: 100;
}

//loading page
.loading-page{
  display: block;
  width: 100%;
  height: 100%;
  min-height: rem(400);
  background: rgba(255,255,255,.5) url('../img/loading.gif') center no-repeat;
  @extend .pa;
}

//carousel.js
.carousel{
  position: relative;
  height: rem(480);
  overflow: hidden;
  ul{
    margin-bottom: 0;
    padding-left: 0;
  }
  li{
    list-style: none;
  }
  .carousel-inner{
    position: relative;
    &,
    >ul,
    >ul>li,
    >ul>li img{
      width: 100%;
      height: 100%;
    }
    >ul {
      position: relative;
      &:after{
        @extend .cf:after;
      }
      > li {
        //display: none;
        float: left;
        position: relative;
        /*position: absolute;
        left: 0;
        top: 0;
        transition: .6s ease;*/
        &.active {
          display: block;
        }
      }
    }
  }
  .carousel-indicators{
    position: absolute;
    z-index: 9;
    left: 50%;
    bottom: rem(20);
    transform: translateX(-50%);
    >ul{
      &:after{
        @extend .cf:after;
      }
      >li{
        float: left;
        width: rem(12);
        height: rem(12);
        margin-right: rem(10);
        background-color: rgba(255,255,255,.5);
        border-radius: 50%;
        cursor: pointer;
        &:hover,
        &.active{
          background-color: rgba(255,255,255,1);
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  .carousel-prev,
  .carousel-next{
    width: rem(48);
    height: rem(48);
    border: rem(2) solid rgba(255,255,255,.5);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    transition: .6s ease-in-out;
    &:hover{
      &,
      &:after{
        border-color: rgba(255,255,255,1);
      }
    }
    &:after{
      display: block;
      content: '';
      width: rem(20);
      height: rem(20);
      border-right: rem(2) solid rgba(255,255,255,.5);
      border-bottom: rem(2) solid rgba(255,255,255,.5);
      transition: .6s ease-in-out;
    }
  }
  .carousel-prev{
    left: rem(18);
    &:after{
      transform: rotate(135deg) translate(rem(-2),rem(-20));
    }
  }
  .carousel-next{
    right: rem(18);
    &:after{
      transform: rotate(-45deg) translate(rem(-3), rem(15));
    }
  }
  /*&.carousel-slide{

  }
  &.carousel-fade{
    .carousel-inner{
      >ul>li{
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }*/
}

//云财经骨架，类
//卡片加边框
.paper{
  border: 1px solid $paper-border-color;
}

//鼠标悬停展示图表
#mouseover-showchart{
  padding: rem(10);
  border: 1px solid #e0e0e0;
  background-color: $white-bgcolor;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
}

//骨架
$sidebar-width: rem(60);
$sidebar-icon-height: rem(54);
#header,
#sidebar{
  position: fixed;
  left: 0;
  top: 0;
}
#sidebar{
  width: $sidebar-width;
  height: 100%;
  background-color: #262930;
  z-index: 999;
  a{
    color: $white-text;
    font-size: rem(14);
  }
  .icon{
    font-size: rem(20);
  }
  .nav-wrap{
    height: 100%;
    padding-top: $sidebar-icon-height;
  }
}
#sidebar-unfold{
  width: $sidebar-width;
  height: $sidebar-icon-height;
  line-height: $sidebar-icon-height;
  background-color: $primary;
  text-align: center;
  color: $white-text;
  cursor: pointer;
  z-index: 2;
}
#sidebar-list{
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  background-color: #262930;
  opacity: .97;
  transition: .6s ease-in-out;
  $open-width: rem(168);
  &.open{
    width: $open-width;
    >li{
      width: $open-width;
    }
  }
  .dropdown-menu{
    background-color: #30333a;
    margin-top: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    a{
      min-width: rem(110);
      height: $sidebar-icon-height;
      line-height: $sidebar-icon-height;
      &:hover{
        background-color: #3a3c41;
      }
    }
  }
  > li{
    width: $sidebar-width;
    &:nth-child(2),
    &:nth-child(5){
      margin-bottom: rem(10);
    }
    &:hover > a,
    &.active > a{
      background-color: #383a3f;
    }
    &.active > a{
      border-left: rem(6) solid $primary;
      >.icon{
        margin-left: rem(-6);
      }
    }
    > a{
      display: block;
      width: $open-width;
      height: $sidebar-icon-height;
      line-height: $sidebar-icon-height;
      text-decoration: none;
      position: relative;
      >.icon{
        width: $sidebar-width;
        margin-right: rem(10);
        text-align: center;
      }
    }
  }
}
#sidebar-edit{
  top: auto;
  bottom: 0;
}
//头部
#header{
  $content-height: rem(32);
  width: 100%;
  height: rem(55);
  padding-left: $sidebar-width;
  border-bottom: 1px solid #d5dae0;
  background-color: $white-bgcolor;
  z-index: 998;
  >.fl{
    img{
      height: rem(23);
      margin: rem(16) 0 0 rem(20);
    }
  }
  >.fr{
    height: $content-height;
    margin: rem(11) rem(20) 0 0;
    >.dropdown{
      margin-left: rem(14);
    }
  }
  .btn{
    width: $content-height;
    height: $content-height;
    padding: 0;
    text-align: center;
    font-size: rem(20);
    &.pr{
      >.badge{
        left: auto;
        left: 100%;
        transform: translate(-50%,-50%);
      }
    }
    >.icon{
      transform: translateY(-2px);
    }
  }
  .dropdown-menu{
    padding: 0;
    >li>a{
      padding-top: 0;
      padding-bottom: 0;
      height: rem(46);
      line-height: rem(46);
      color: #666883;
      &:hover{
        background-color: #f4f6fb;
      }
    }
    .icon{
      margin-right: rem(10);
    }
    .badge.fr{
      margin-top: rem(14);
    }
  }
}
//搜索
$search-border-color: #a8aebd;
.search{
  width: rem(288);
  .search-input{
    height: rem(32);
    .glyphic{
      line-height: rem(30);
      color: $search-border-color;
      cursor: pointer;
      &:after{
        content: "";
        width: 1px;
        height: rem(18);
        background-color: $search-border-color;
        position: absolute;
        right: rem(8);
        top: rem(8);
      }
      .icon{
        margin-right: rem(8);
      }
    }
    .placeholder-input{
      width: 100%;
    }
    .placeholder-text{
      color: $search-border-color;
    }
    input{
      border-color: $search-border-color;
      //box-shadow: none;
      &:focus{
        border-color: #2C50A9;
        border-radius: $input-radius $input-radius 0 0;
      }
    }
  }
}
//autoComplete list
.search-list{
  width: 100%;
  max-height: rem(370);
  border: 1px solid $search-border-color;
  border-top: none;
  background-color: $white-bgcolor;
  top: 100%;
  z-index: 99;
  overflow: auto;
  box-shadow: rem(2) rem(2) rem(4) 0 rgba(168, 174, 189, .5);
  >ul{
    margin-bottom: 0;
    >li{
      padding: .57em 1em;
      color: #666883;
      cursor: pointer;
      &.active,
      &:hover{
        background-color: #eff2f5;
      }
    }
  }
}
//副级导航
.subnav{
  height: rem(50);
  border-bottom: 1px solid #dce0e5;
  &:after{
    @extend .cf:after;
  }
  >a{
    float: left;
    height: 100%;
    line-height: rem(50);
    padding: 0 rem(36);
    border-right: 1px solid #dce0e5;
    border-bottom: rem(2) solid transparent;
    font-size: rem(18);
    text-decoration: none;
    color: #63749e;
    &:first-child{
      padding-left: rem(20);
    }
    &:hover{
      background-color: #e5eaf1;
    }
    &.active{
      color: #2c50a9;
      border-bottom-color: #2c50a9;
    }
  }
}
//容器
#container{
  padding: $sidebar-icon-height 0 0 $sidebar-width;
}
//footer-com
#footer-com{
  padding: rem(44) 0;
  line-height: 1;
  background-color: #363638;
  >.footer-wrap{
    width: rem(960);
    margin: 0 auto;
    padding: 0 rem(90);
    color: #828283;
    a{
      color: #828283;
      &:hover{
        color: $white-text;
        text-decoration: underline;
      }
    }
  }
  .about{
    color: #c5c5c5;
    a{
      color: #c5c5c5;
    }
    dl{
      width: rem(234);
      &:last-child{
        width: auto;
      }
    }
    dt{
      margin: 0 0 rem(30);
      font-size: rem(18);
    }
    dd{
      margin: 0 0 rem(20) 0;
      color: #656565;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .link{
    margin: rem(28) 0;
    padding-top: rem(15);
    border-top: 1px solid #5c5d5e;
    border-bottom: 1px solid #5c5d5e;
    li{
      width: 9%;
      overflow: hidden;
      height: rem(14);
      line-height: rem(14);
      margin: 0 1% rem(15) 0;
      &:nth-child(10n){
        width: 10%;
        margin-right: 0;
      }
    }
    .row-first{
      li:last-child{
        a{
          display: block;
        }
        .icon{
          transform: rotate(90deg);
        }
      }
    }
    .row-second{
      display: none;
    }
  }
  .copyright{
    p{
      margin-bottom: rem(10);
      &:last-child{
        margin: rem(36) 0 0;
      }
    }
  }
}
//日历
.calendar{
  width: rem(296);
  border: 1px solid #e0e0e0;
  text-align: center;
  >.calendar-header{
    height: rem(176);
    border-bottom: 1px solid #e0e0e0;
    background-color: $primary;
    color: $white-text;
    line-height: 1;
    >h6{
      font-weight: 400;
    }
    >.pa{
      width: rem(22);
      height: rem(22);
      line-height: rem(22);
      font-size: rem(14);
      color: $white-text;
      top: rem(16);
      border-radius: $radius;
      transition: .4s ease;
      &.disabled,
      &[disabled]{
        color: #8FA3D6 !important;
        cursor: default !important;
      }
      &:not(.disabled):not([disabled]):hover{
        background-color: rgba(255,255,255,.25);
      }
    }
    >.calendar-prev{
      left: rem(74);
    }
    >.calendar-next{
      left: auto;
      right: rem(74);
    }
    >.calendar-year{
      padding-top: rem(20);
    }
    >.calendar-day{
      margin: rem(18) 0;
      font: 100 rem(76)/1 Arial;
    }
  }
  .calendar-body{
    padding: rem(7) rem(7) rem(20);
    background-color: $white-bgcolor;
    *::selection{
      background-color: transparent;
    }
    >ul{
      margin-bottom: 0;
      >li{
        float: left;
        width: rem(40);
        height: rem(40);
        line-height: rem(40);
        text-align: center;
      }
    }
    >.calendar-indi{
      >li{
        color: $primary;
      }
    }
    >.calendar-list{
      >li:not(:empty){
        color: #8f91aa;
        position: relative;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
          background-color: #E8EEFD;
        }
        &.active{
          background-color: $primary;
          color: $white-text;
          >[class^='btn-']{
            background-color: $white-bgcolor;
            border-color: $white-bgcolor;
          }
        }
        >[class^='btn-']{
          width: rem(4);
          height: rem(4);
          position: absolute;
          bottom: rem(4);
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
        }
      }
    }
  }
}

//第二版头部与侧栏
//头部
$com-header-height: 54;
$sidebar-width: 120;
#com-header{
  height: rem($com-header-height);
  background-color: $primary;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  &:after{
    @extend .cf:after;
  }
  >.text-logo{
    float: left;
    width: rem($sidebar-width);
    img{
      width: rem(80);
      height: rem(22);
      margin: rem(16) 0 0 rem(20);
    }
  }
  >.breadcrumb-wrap{
    float: left;
    margin-top: rem(26);
    >.breadcrumb{
      height: auto;
      line-height: rem(12);
      border-bottom: none;
      background-color: transparent;
      font-size: rem(12);
      &,
      &>li>a{
        color: $white-text;
      }
      >li{
        &:not(.breadcrumb-divider){
          padding: 0 rem(8);
        }
        &:first-child{
          padding-left: 0;
        }
      }
    }
  }
  >.gate{
    float: right;
    .btn-primary{
      width: rem($com-header-height);
      height: rem($com-header-height);
      border-right: 1px solid #5673ba;
      font-size: rem(18);
      border-radius: 0;
      &:focus{
        border-right-color: #5673ba !important;
      }
    }
    >*{
      float: left;
    }
    >.com-search{
      >*{
        float: left;
      }
      >.search-content{
        width: rem(312);
        height: rem($com-header-height);
        background-color: #233f85;
        >.search-input{
          height: 100%;
          $glyphic-width: 58;
          .glyphic{
            width: rem($glyphic-width);
            line-height: rem(50);
            color: $white-text;
            span{
              display: inline-block;
              height: rem(14);
              line-height: rem(14);
              padding-right: rem(6);
              border-right: 1px solid #a7adbd;
              font-size: rem(14);
            }
          }
          .placeholder-input{
            padding-left: rem($glyphic-width);
            .placeholder-text{
              color: rgba(255, 255, 255, .5);
            }
          }
          input{
            padding-left: rem($glyphic-width);
            border: none;
            color: $white-text;
          }
        }
      }
    }
    >.notify{
      >.btn{
        position: relative;
        >.badge{
          position: absolute;
          top: rem(4);
          right: rem(4);
        }
      }
    }
    >.user{
      >.btn-primary{
        border-right: none;
      }
    }
    >.notify,
    >.user{
      >.dropdown-menu{
        line-height: 3;
        .icon{
          margin-right: rem(4);
          font-size: rem(14);
        }
      }
    }
  }
}

//侧栏
@keyframes submenuSlideInRight {
  0% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0);
  }
}

#nav-sidebar{
  $sidebar-width: $sidebar-width;
  $sidebar-top: $com-header-height;
  $sidebar-bgcolor: #262930;
  $list-height: 40;

  width: rem($sidebar-width);
  background-color: $sidebar-bgcolor;
  font-size: rem(13);
  position: fixed;
  z-index: 999;
  left: 0;
  top: rem($sidebar-top);
  bottom: 0;
  a{
    display: block;
    width: 100%;
    height: rem($list-height);
    line-height: rem($list-height);
    padding: 0 0 0 rem(10);
    text-decoration: none;
    color: $white-text;
    &:hover{
      background-color: $primary;
    }
  }
  >.nav-footer,
  >.nav-main{
    >ul{
      >li{
        &.active,
        &:hover{
          >a{
            background-color: $primary;
          }
        }
        >a{
          >.icon{
            margin-right: rem(4);
            font-size: rem(14);
          }
        }
      }
      >.dropdown-submenu{
        >.dropdown-menu{
          margin: 0;
          padding: 0;
          background-color: $sidebar-bgcolor;
          border: none;
          box-shadow: none;
          border-radius: 0;
          animation: .6s cubic-bezier(0.13, 0.53, 0.34, 1) submenuSlideInRight;
        }
      }
    }
  }
  >.nav-footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
